h1{
    color: white;
    background-color: black;
    text-align: center;
}

img{
    border: 5px white solid;
    width: 100%;
}

div{
    width: 50%;
    margin-left: 25%;
}

body{
    background-color: black;
}

p{
    color: white;
    background-color: black;
    text-align: center;
}